# kicad locking

*.sch -text
*.kicad_pcb -text
*fp-info-cache -text
*fp-lib-table -text
*sym-lib-table -text
*.wrl -text
*.dcm -text
*.kicad_wks -text
*.kicad_mod -text
*.pro -text
*.lib -text

# freecad
*.FCStd -text